* {
    word-wrap: break-word !important;
    word-break: break-all !important;
}


.nav_listItem,
.listItem,
.typeListItem {
    cursor: pointer;
    transition: all .3s;
}

.nav_listItem:hover,
.listItem:hover,
.typeListItem:hover {
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2) !important;
}

.oyp-limit-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video_box {
    position: relative;
    border-radius: .5rem;
}

.video_box .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: -1;
}

.page-videoList .tabs::-webkit-scrollbar {
    height: 0;
    background: white;
}

.page-videoList .tabs {
    overflow-y: auto;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    padding-bottom: 2px;
}

.page-videoList .tabs::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 3px;
    height: 100px;
}

@media (max-width: 768px) {
    .listItem .embed-responsive {
        flex: 1;
    }

    .listItem {
        display: flex;
        align-items: center;
    }

    .listItem .box_iasas {
        flex: 1;
    }
}

@media (max-width: 576px) {
    .nav_listItem img {
        width: 30px;
        height: 30px;
    }

    .listItem .embed-responsive {
        width: 40%;
        float: left;
    }

    .listItem .oyp-limit-line {
        -webkit-line-clamp: 2;
        font-size: 16px;
    }

    .listItem .clearfix {
        font-size: 80%;
    }

    .videoTypeList .col_left {
        padding-right: 8px;
    }

    .videoTypeList .col_right {
        padding-left: 8px;
    }

}